@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Heebo&display=swap');

html, body{
    height: 100%;
    background-color:darkgrey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Header*/
header{
    font-family: 'Ephesis', cursive;
    color: white;
    background-color: #F42D59;
    width: 1100px;
    font-size: 2.5em;
    display: flex;
    justify-content: space-between;
}

header span{
    margin: 10px;
    margin-top: 0.5em;
}

/*Main*/
main{
    font-family: 'Heebo', sans-serif;
    color:black;
    width: 1100px;
    background-color: #D9D9D9;
}

button:hover{
    background-color:#D9D9D9;
    color: #F42D59;
}

section>img{
    width: 100%;
}

main section:first-child{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 1em;
    margin-bottom: 2em;
}

main section:first-child p{
    text-align: start;
}

main section:first-child img{
    border-radius: 100%;
    text-align: center;
}

section:first-child article{
    background-color: #FFF;
    height: 320px;
    max-width: 200px;
    padding: 1em;
    margin: 0.5em;
}

section:first-child article img{
    max-width: 60px;
}

section:last-child{
    display: flex;
    justify-content: center;
}

#formbox{
    display:flex;
    justify-content: center;
    width: 380px;
    background-color: #FFF;
    margin: 1em;
}

form{
    

    padding-bottom: 2em;
    margin-top: 1em;
}

form h1{
    text-align: center;
}

form h4{
    margin: 0;
    margin-bottom: 4px;
}

button{
    background-color: #F42D59;
    width: 250px;
    color: white;
    border-style: none;
    padding: 4px;
}



/*Footer*/

footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Heebo', sans-serif;
    color: white;
    background-color: #F42D59;
    width: 1100px;
    padding-top: 1em;
    padding-bottom: 1em;
}

footer section p a{
    text-decoration: none;
    color: white;
}

footer section p a:hover{
    color: #D9D9D9;
}

footer section a img{
    max-width: 40px;
    border-radius: 100%;
    margin: 5px;
}

footer section p{
    text-align: center;
}

/*circulo logo*/
#circulo1{
    position:relative;
    width: 65px;
    height: 65px;
    background-color: #FFF;
    border-radius: 100%;
}
#circulo2{
    position:relative;
    width: 45px;
    height: 45px;
    bottom: 55px;
    left: 10px;
    background-color:#F42D59;
    border-radius: 100%;
}
#circulo3{
    position:relative;
    width: 25px;
    height: 25px;
    bottom: 90px;
    left: 20px;
    background-color:#FFF;
    border-radius: 100%;
}
#circulo4{
    position:relative;
    width: 10px;
    height: 10px;
    bottom: 107px;
    left: 27px;
    background-color:#F42D59;
    border-radius: 100%;
}
#circulo{

    height: 70px;
    width: 70px;
    padding-top: 5px;
    padding-left: 5px;
    margin: 10px;
    margin-right: 20px;
}


@media only screen and (max-width: 769px) {
    #formbox{
        width: 285px;
    }

    header{
        width: 600px;
    }
    main{
        width: 600px;
    }
    main section:first-child article{
        margin: 5px;
    }
    footer{
        width: 600px;
    }

}

@media only screen and (max-width: 500px) {


    header{
        width: 420px;
    }
    main{
        width: 420px;
    }
    main section:first-child article{
        margin: 5px;
    }
    footer{
        width: 420px;
    }

}